body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

player>div>button {
	width: 100px;
	height: 34px;
}

.session-list li{
	cursor: pointer;
}
.session-list li:hover{
	text-decoration: underline;
}